.contact_main {
  background-image: url(../assets/hero.jpg);
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_form {
  background-color: #003049;
  padding: 30px 50px;
  border-radius: 10px;
}

.contact_field {
  display: flex;
  flex-direction: column;
}

.contact_title {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  margin-bottom: 3px;
}

.contact_input {
  margin-bottom: 10px;
  width: 210px;
  height: 35px;
  padding: 5px;
}

.contact_msg {
  width: 210px;
  height: 150px;
}

.btn_submit {
  display: block;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 15px auto 0;
  color: #780000;
  font-weight: bolder;
}
